<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HouseSystem.Properties.Settings.dcData" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database.accdb;Persist Security Info=True;Jet OLEDB:Database Password=bIG0ne23..@TBG5"
            providerName="System.Data.OleDb" />
        <add name="HouseSystem.Properties.Settings.SQLDBConnectionString"
            connectionString="Data Source=|DataDirectory|\SQLDB.sdf;Password=bIG0ne23..@TBG5"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>

</configuration>

